<form action="/course/add" method="post">
  <div class="form-group">
    <label>Course Name</label>
    <input value=""  name="courseName" >
  </div>
  <div class="form-group">
    <label>Course ID</label>
    <input value=""  name="courseId" >
  </div>
  <div class="form-group">
    <label>Course Duration</label>
    <input value=""  name="courseDuration" >
  </div>
  <div class="form-group">
    <label>Course Fee</label>
    <input value=""  name="courseFee" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>